Source: ignition-plugin0
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 7.0.50~),
               doxygen,
               libignition-cmake2-dev,
               python,
               ruby-ronn
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-plugin0-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-plugin0-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-plugin

Package: libignition-plugin0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Shared library

Package: libignition-plugin0-dev
Architecture: any
Section: libdevel
Depends: libignition-plugin0 (= ${binary:Version}),
         libignition-cmake2-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Development files

Package: libignition-plugin0-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-plugin0 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Debugging symbols
